* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html,
body {
    font-family: cursive;
}

.todo-form input[type="text"] {
    padding: 5px 10px;
    border-radius: 5px;
    border: 1px solid #000;
    outline: none;
    font-size: 14px;
    margin-bottom: 10px;
}

.todo-form input[type="submit"] {
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    background-color: #000;
    color: #fff;
}

.todo-list {
    margin-top: 50px;
}


.todo-list li {
    padding: 5px;
    /* border: 1px solid #000; */
    list-style: none;
}


button{
    padding: 5px 10px;
    margin-right: 5px;
    font-size: 14px;
    border-radius: 15px;
    cursor: pointer;
    text-transform: capitalize;
    border: none;
    background-color: #000;
    color: #fff;
    /* float: right; */
}